@import '~@wordpress/block-library/build-style/style.css';
@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/mixins";

html {
	font-size: var(--wp--preset--font-size--normal, 16px);
}

body {
	//Fallback for themes without those WP variables
	--wp--preset--color--primary: var(--color-primary-dark);
	--wp--preset--color--background: var(--color-text-inverted);
	--wp--style--block-gap: 1rem;

	--cs--style--block-gap: var(--wp--style--block-gap);
	--cs--style--block-gap-big: calc(var(--wp--style--block-gap) * 2);
	--cs--style--block-gap-small: calc(var(--wp--style--block-gap) / 2);

	--cs--style--border-width-regular: 1px;
	--cs--style--border-width-thick: 2px;

	--cs--style--button--background: var(--wp--preset--color--background);
	--cs--style--button--foreground: var(--wp--preset--color--primary);
	--cs--style--button--font-size: var(--wp--preset--font-size--normal);
	--cs--style--button--font-weight: 400;
	--cs--style--button--border-radius: 0;

	--cs--content-padding-top: 16px;
	--cs--content-padding-bottom: 16px;
	--cs--content-padding-horizontal: 16px;
	--cs--block--alignfull-width: calc(100% + var(--cs--content-padding-horizontal) * 2);
	--cs--block--alignfull-margin: calc(var(--cs--content-padding-horizontal) * -1);
	--cs--block--alignfull-margin-top: calc(var(--cs--content-padding-top) * -1);

	--cs--style--answer--selected--background: var(--wp--preset--color--primary);
	--cs--style--answer--selected--color: var(--wp--preset--color--background);
	--cs--style--answer--emoji--font-size: var(--wp--preset--font-size--normal);

	@include break-mobile {
		--cs--content-padding-top: 20px;
		--cs--content-padding-bottom: 20px;
		--cs--content-padding-horizontal: 20px;
	}

	@include break-small {
		--wp--style--block-gap: 1.5rem;
	}

	@include break-medium {
		--wp--style--block-gap: 2rem;
		--cs--content-padding-top: 64px;
		--cs--content-padding-bottom: 80px;
		--cs--content-padding-horizontal: 0;
		--cs--block--alignfull-width: unset;
		--cs--block--alignfull-margin: unset;
	}
}

.wp-block-columns {
	margin-bottom: var(--cs--style--block-gap);
	gap: var(--cs--style--block-gap);

	.wp-block-column:not(:last-child) {
		margin-bottom: var(--cs--style--block-gap);
	}

	.wp-block-column {
		> * {
			margin-top: 0;
			margin-bottom: 0;
		}

		> * + * {
			margin-top: var(--cs--style--block-gap);
		}
	}

	@include break-small {
		.wp-block-column:not(:last-child) {
			margin-bottom: 0;
		}
	}
}

.wp-block-image {
	line-height: 0;

	.alignleft, .alignright {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.crowdsignal-content {
	padding: var(--cs--content-padding-top) var(--cs--content-padding-horizontal) var(--cs--content-padding-bottom);

	> * {
		margin-top: 0;
		margin-bottom: 0;
	}

	> * + * {
		margin-top: var(--cs--style--block-gap);
	}

	> .crowdsignal-forms-question-wrapper {
		margin-bottom: var(--cs--style--block-gap-big);
		margin-top: var(--cs--style--block-gap-big);

		&.alignfull {
			margin-left: var(--cs--style--block-gap);
			margin-right: var(--cs--style--block-gap);
		}
	}

	.crowdsignal-forms-question-wrapper__content.is-horizontal {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;

		.crowdsignal-forms-rating-scale-answer-block {
			margin-bottom: unset;
		}
	}

	> .alignfull {
		width: var(--cs--block--alignfull-width);
		max-width: var(--cs--block--alignfull-width);
		margin-left: var(--cs--block--alignfull-margin);
		margin-right: var(--cs--block--alignfull-margin);

		&.wp-block-cover:first-child {
			margin-top: var(--cs--block--alignfull-margin-top);
		}
	}

	> .alignright {
		float: right;
	}

	> .alignleft {
		float: left;
	}

	.justify {
		max-width: unset;
		display: flex;
		justify-content: center;
		margin-bottom: var(--cs--style--block-gap-big);
		margin-top: var(--cs--style--block-gap-big);

		&.justify-left {
			justify-content: flex-start;
		}

		&.justify-right {
			justify-content: flex-end;
		}

		> * {
			max-width: 720px;
			flex: 1;
			margin-left: var(--cs--style--block-gap);
			margin-right: var(--cs--style--block-gap);

			&.crowdsignal-forms-question-wrapper {
				margin-bottom: unset;
				margin-top: unset;
			}
		}
	}
}

.crowdsignal-forms-button.wp-block-button.is-style-outline {
	&.is-style-emoji {
		.crowdsignal-forms-button__button {
			&, &.wp-block-button__link {
				&, &:hover {
					display: flex;
					border-color: transparent;
					padding: 12px;
					line-height: 1;
					font-size: calc(var(--cs--style--answer--emoji--font-size) * 2);
					font-weight: normal;
					letter-spacing: initial;
				}
			}
		}
	}

	&.is-selected {
		&, &.is-style-emoji, &.is-style-text {
			.crowdsignal-forms-button__button {
				&, &.wp-block-button__link {
					&, &:hover {
						background-color: var(--cs--style--answer--selected--background);
						border-color: var(--cs--style--answer--selected--background);
						color: var(--cs--style--answer--selected--color);
						opacity: 1;
					}
				}
			}
		}
	}
}

.wp-block-cover:not(.is-light) {
	color: var(--wp--preset--color--background);
}

.crowdsignal-forms-ranking-answer-block {
	display: flex;
	align-items: center;
	margin-bottom: var(--cs--style--block-gap-small);

	.crowdsignal-forms-button {
		margin-bottom: 0;
		flex-grow: 1;

		&__button {
			flex-grow: 1;
			cursor: inherit;
		}
	}
}

.crowdsignal-forms-dropdown-input {
	.crowdsignal-forms-dropdown-input__button.is-style-outline {
		button.crowdsignal-forms-button__button {
			font-size: var(--cs--style--button--font-size);
			font-weight: var(--cs--style--button--font-weight);
			color: var(--cs--style--button--foreground);
			background: var(--cs--style--button--background);
		}
	}

	&__options {
		color: var(--cs--style--button--foreground);
		background: var(--cs--style--button--background);
		border-color: currentColor;
		border-width: var(--cs--style--border-width-thick);
		border-radius: var(--cs--style--button--border-radius);
	}

	&__option {
		font-size: var(--cs--style--button--font-size);
		font-weight: var(--cs--style--button--font-weight);

		&.placeholder {
			opacity: 0.5;
		}

		&.selected {
			background: var(--cs--style--button--foreground);
		}

		&.active {
			&:before {
				background: var(--cs--style--button--foreground);
			}
		}
	}

	svg path {
		stroke: currentColor;
		fill: none;
	}
}
