@import '~@wordpress/block-library/build-style/style.css';

.wp-block-columns {
	margin-bottom: 24px;

	.crowdsignal-forms-text-input-block {
		margin-bottom: 0;
	}
}

.wp-block-cover {
	margin-bottom: 24px;
}
