@import '~@wordpress/block-library/build-style/style.css';
@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/mixins";

html {
	font-size: var(--wp--preset--font-size--normal, 16px);
}

body {
	//Fallback for themes without those WP variables
	--wp--preset--color--primary: var(--color-primary-dark);
	--wp--preset--color--background: var(--color-text-inverted);
	--wp--style--block-gap: 1rem;

	--cs--style--block-gap: var(--wp--style--block-gap);
	--cs--style--block-gap-big: calc(var(--wp--style--block-gap) * 2);
	--cs--style--block-gap-small: calc(var(--wp--style--block-gap) / 2);
	--cs--content-padding-top: 16px;
	--cs--content-padding-bottom: 16px;
	--cs--content-padding-horizontal: 16px;
	--cs--block--alignfull-width: calc(100% + var(--cs--content-padding-horizontal) * 2);
	--cs--block--alignfull-margin: calc(var(--cs--content-padding-horizontal) * -1);
	--cs--block--alignfull-margin-top: calc(var(--cs--content-padding-top) * -1);

	--cs--style--answer--selected--background: var(--wp--preset--color--primary);
	--cs--style--answer--selected--color: var(--wp--preset--color--background);
	--cs--style--answer--emoji--font-size: var(--wp--preset--font-size--normal);

	@include break-mobile {
		--cs--content-padding-top: 20px;
		--cs--content-padding-bottom: 20px;
		--cs--content-padding-horizontal: 20px;
	}

	@include break-small {
		--wp--style--block-gap: 1.5rem;
	}

	@include break-medium {
		--wp--style--block-gap: 2rem;
		--cs--content-padding-top: 64px;
		--cs--content-padding-bottom: 80px;
		--cs--content-padding-horizontal: 0;
		--cs--block--alignfull-width: unset;
		--cs--block--alignfull-margin: unset;
	}
}

.wp-block-columns {
	margin-bottom: var(--cs--style--block-gap);

	.wp-block-column:not(:last-child) {
		margin-bottom: var(--cs--style--block-gap);
	}

	.crowdsignal-forms-text-input-block {
		margin-bottom: 0;
	}

	@include break-small {
		.wp-block-column:not(:last-child) {
			margin-bottom: 0;
		}
	}
}

.wp-block-image {
	.alignleft, .alignright {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.crowdsignal-content {
	padding: var(--cs--content-padding-top) var(--cs--content-padding-horizontal) var(--cs--content-padding-bottom);

	> * {
		margin-top: 0;
		margin-bottom: 0;
	}

	> * + * {
		margin-top: var(--cs--style--block-gap);
	}

	> .crowdsignal-forms-question-wrapper {
		margin-bottom: var(--cs--style--block-gap-big);
		margin-top: var(--cs--style--block-gap-big);
	}

	.crowdsignal-forms-question-wrapper__content.is-horizontal {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
	}

	> .alignfull {
		width: var(--cs--block--alignfull-width);
		max-width: var(--cs--block--alignfull-width);
		margin-left: var(--cs--block--alignfull-margin);
		margin-right: var(--cs--block--alignfull-margin);

		&.wp-block-cover:first-child {
			margin-top: var(--cs--block--alignfull-margin-top);
		}
	}
}

.crowdsignal-forms-button.wp-block-button.is-style-outline {
	&.is-style-emoji {
		.crowdsignal-forms-button__button {
			&, &.wp-block-button__link {
				&, &:hover {
					display: flex;
					border-color: transparent;
					padding: 12px;
					line-height: 1;
					font-size: calc(var(--cs--style--answer--emoji--font-size) * 2);
					font-weight: normal;
					letter-spacing: initial;
				}
			}
		}
	}

	&.is-selected {
		&, &.is-style-emoji, &.is-style-text {
			.crowdsignal-forms-button__button {
				&, &.wp-block-button__link {
					&, &:hover {
						background-color: var(--cs--style--answer--selected--background);
						border-color: var(--cs--style--answer--selected--background);
						color: var(--cs--style--answer--selected--color);
						opacity: 1;
					}
				}
			}
		}
	}
}
