@import 'base';
@import '~isolated-block-editor/build-browser/core.css';

html {
	--cs--preset--font-size--normal: var(--wp--preset--font-size--normal, 16px);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--color-neutral-40);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--color-neutral-40);;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--color-neutral-40);
}

.block-editor-writing-flow {
	.crowdsignal-forms-text-input-block__wrapper, .crowdsignal-forms-text-question-block textarea {
		color: var(--color-neutral-40);
	}
}

#crowdsignal-dashboard .block-editor-block-list__layout.is-root-container,
.block-editor-block-preview__content-iframe .block-editor-block-list__layout.is-root-container {
	> .wp-block, [data-align] {
		margin-left: auto;
		margin-right: auto;

		&[data-type^='crowdsignal'][data-type$='question'] {
			margin-bottom: var(--cs--style--block-gap-big);
			margin-top: var(--cs--style--block-gap-big);
		}
	}

	> .wp-block,
	.block-editor-default-block-appender {
		max-width: 720px;
	}

	[data-align='wide'] {
		max-width: 1080px;
	}

	[data-align='full'] {
		width: unset;
		max-width: none;
		margin-left: var(--cs--style--block-gap);
		margin-right: var(--cs--style--block-gap);

		> .crowdsignal-forms-question-wrapper {
			width: 100%
		}

		[data-align='full'] {
			margin: 0;
		}
	}

	[data-justify] {
		display: flex;
		justify-content: center;

		&[data-justify='left'], &[data-justify='right'] {
			max-width: unset;
			margin-left: var(--cs--style--block-gap);
			margin-right: var(--cs--style--block-gap);
		}

		&[data-justify='left'] {
			justify-content: flex-start;
		}

		&[data-justify='right'] {
			justify-content: flex-end;
		}

		> * {
			flex: 1;
			max-width: 720px;
			margin-left: unset;
			margin-right: unset;
		}
	}

	.crowdsignal-forms-question-wrapper__content {

		&.is-horizontal {
			.block-editor-block-list__block {
				margin-bottom: unset;
			}
			.block-editor-inner-blocks {
				flex: 1;
			}
			.block-editor-block-list__layout {
				flex-direction: row;
				justify-content: space-between;
			}
		}

		.crowdsignal-forms-rating-scale-answer-block {
			margin-bottom: unset;
		}

		.block-editor-block-list__layout {
			display: flex;
			flex-direction: column;

			.wp-block {
				margin-left: unset;
				margin-right: unset;
			}
		}
	}
}

.editor .iso-editor {
	.block-editor-writing-flow {
		line-height: initial;
		padding: 0;

		&.editor-styles-wrapper {
			font-size: var(--cs--preset--font-size--normal);
		}
	}

	.block-editor-block-list__layout.is-root-container {
		padding: var(--cs--content-padding-top) var(--cs--content-padding-horizontal) var(--cs--content-padding-bottom);
	}

	// Fix isolated-block-editor's misalignment of list blocks
	ul.block-editor-block-list__block,
	ol.block-editor-block-list__block {
		margin-left: auto;
		margin-right: auto;
	}

	.components-search-control__input {
		color: inherit;
	}

	.block-editor-inserter__panel-title {
		font-family: inherit;
	}

	& :where(.wp-block)[data-align=right] > * {
		float: right;
	}

	& :where(.wp-block)[data-align=left] > * {
		float: left;
	}
}

.crowdsignal-forms-question-wrapper h3 {
	display: flex;
	align-items: center;
}

.crowdsignal-forms-question-wrapper__content .block-editor-block-list__layout > * {
		margin-top: 0;
		margin-bottom: var(--cs--style--block-gap-small);

	&[data-type="crowdsignal-forms/multiple-choice-answer"] + :not(.wp-block[data-type="crowdsignal-forms/multiple-choice-answer"]) {
		margin-top: var(--cs--style--block-gap);
	}

	&[data-align="left"], &[data-align="right"] {
		figure {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.crowdsignal-forms-multiple-choice-answer-block,
	.crowdsignal-forms-ranking-answer-block
	{
		margin-bottom: 0;
	}

	.components-resizable-box__container {
		display: flex;
	}
}

[data-type='crowdsignal-forms/multiple-choice-question'] {
	[data-type='crowdsignal-forms/multiple-choice-answer']:last-child {
		margin-bottom: 0;
	}

	&.is-selected {
		[data-type='crowdsignal-forms/multiple-choice-answer']:nth-last-child(2) {
			margin-bottom: 0;
		}
	}
}

.crowdsignal-forms-ranking-question-block .block-list-appender {
	display: none;
}

.edit-post-editor__inserter-panel-header {
	display: none;
}
