@import 'base';
@import '~isolated-block-editor/build-browser/core.css';

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--color-neutral-40);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--color-neutral-40);;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--color-neutral-40);
}

.block-editor-writing-flow {
	.crowdsignal-forms-text-input-block__wrapper, .crowdsignal-forms-text-question-block textarea {
		color: var(--color-neutral-40);
	}
}

#crowdsignal-dashboard .block-editor-block-list__layout.is-root-container,
.block-editor-block-preview__content-iframe .block-editor-block-list__layout.is-root-container {
	> .wp-block, [data-align] {
		margin-left: auto;
		margin-right: auto;
	}

	.wp-block,
	.block-editor-default-block-appender {
		max-width: 720px;
	}

	[data-align='wide'] {
		max-width: 1080px;
	}

	[data-align='full'] {
		max-width: none;
	}

	.wp-block-column {
		> .wp-block {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.crowdsignal-forms-question-wrapper {
		margin-bottom: 64px;
		margin-top: 64px;
	}

	.crowdsignal-forms-question-wrapper__content {
		.block-editor-block-list__layout {
			display: flex;
			flex-direction: column;

			.wp-block {
				margin-left: unset;
				margin-right: unset;
			}
		}
	}
}

.editor .iso-editor {
	.block-editor-writing-flow {
		line-height: initial;
	}

	.block-editor-block-list__layout.is-root-container {
		padding-left: 0;
		padding-right: 0;
		padding-top: 40px;
	}

	// Fix isolated-block-editor's misalignment of list blocks
	ul.block-editor-block-list__block,
	ol.block-editor-block-list__block {
		margin-left: auto;
		margin-right: auto;
	}

	.components-search-control__input {
		color: inherit;
	}

	.block-editor-inserter__panel-title {
		font-family: inherit;
	}

	& :where(.wp-block)[data-align=right] > * {
		float: right;
	}

	& :where(.wp-block)[data-align=left] > * {
		float: left;
	}
}

.crowdsignal-forms-question-wrapper__content .block-editor-block-list__layout > * {
		margin-top: 0;
		margin-bottom: 16px;

	.wp-block.is-selected &:nth-last-child(2),
	.wp-block.has-child-selected &:nth-last-child(2),
	&:last-child {
		margin-bottom: 0;
	}

	&[data-type="crowdsignal-forms/multiple-choice-answer"] + :not(.wp-block[data-type="crowdsignal-forms/multiple-choice-answer"]) {
		margin-top: 32px;
	}

	&[data-align="left"], &[data-align="right"] {
		figure {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.crowdsignal-forms-multiple-choice-answer-block {
		margin-bottom: 0;
	}

	.components-resizable-box__container {
		display: flex;
	}
}
