:root {
	--crowdsignal-forms-button-selected-background-color: #1285ce;
	--crowdsignal-forms-submit-button-background-color: #ff302c;
}

.crowdsignal-forms-button {
	.crowdsignal-forms-multiple-choice-question-block & + *:not(&) {
		margin-top: 16px;
	}
}

.crowdsignal-forms-question-wrapper {
	margin-bottom: 64px;
	margin-top: 64px;
}

.crowdsignal-forms-form__content {
	padding: 64px 0 32px;

	& > *:not(.crowdsignal-forms-question-wrapper) {
		margin-bottom: 32px;
	}
}

.crowdsignal-forms-question-wrapper {
	background-color: #fff;
	border-color: #eee;
}

.crowdsignal-forms-text-input-block input {
	padding: 8px;
}
