.editor .iso-editor .block-editor-writing-flow {
	font-family: "Crimson Text", sans-serif;
	font-family: var(--font-base, "Crimson Text", sans-serif);
	font-size: 18px;
	font-weight: normal;
	line-height: 1.78;
}

.crowdsignal-forms-question-wrapper__content .block-editor-block-list__layout > * {
	margin-top: 0;
	margin-bottom: 16px;

	.wp-block.is-selected &:nth-last-child(2),
	.wp-block.has-child-selected &:nth-last-child(2),
	&:last-child {
		margin-bottom: 0;
	}

	&[data-type="crowdsignal-forms/multiple-choice-answer"] + :not(.wp-block[data-type="crowdsignal-forms/multiple-choice-answer"]) {
		margin-top: 32px;
	}
}

.crowdsignal-forms-text-input-block {
	&__wrapper input {
		padding: 8px;
	}
}
