.crowdsignal-forms-button {
	.crowdsignal-forms-multiple-choice-question-block & + *:not(&) {
		margin-top: 16px;
	}
}

.crowdsignal-forms-question-wrapper {
	margin-bottom: 64px;
	margin-top: 64px;
}
