@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/mixins";
@import 'buttons';

:root {
	--wp--preset--font-size--normal: 18px;

	@include break-mobile {
		--wp--preset--font-size--normal: 22px;
	}
}

html {
	font-size: var(--wp--preset--font-size--normal);
}

body {
	--wp--preset--color--primary: #0073aa;
	--wp--preset--color--background: #fff;
	--color-text: #111;

	--cs--style--dropdown--padding-top-bottom: 8px;
	--cs--style--button--border-radius: 5px;
}

.crowdsignal-forms-form {
	line-height: 1.5;

	&__content {
		input[type="text"] {
			min-height: 45px;
		}
	}
}

input, textarea {
	border: 1px solid #CCC;
}

.crowdsignal-forms-question-wrapper {
	border: 1px solid #CCC;
	background-color: var(--wp--preset--color--background);
	color: var(--color-text);
}

button, input, select, optgroup, textarea {
	line-height: initial;
}

.wp-block-button {
	&:not(.is-style-squared) .wp-block-button__link {
		border-radius: 5px;
	}

	&:not(.is-style-outline) .wp-block-button__link {
		background: var(--wp--preset--color--primary);
	}

	.wp-block-button__link {
		line-height: 1.2;
		padding: 0.76rem 1rem;
		font-size: 0.88889em;
		font-weight: bold;

		&:hover {
			color: white;
			background: var(--color-text);
			cursor: pointer;
		}

		&:not(.has-text-color) {
			color: var(--wp--preset--color--background);
		}
	}
}

.crowdsignal-forms-button__button, .crowdsignal-forms-dropdown-input__option {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
