@import 'base';

h1, h2 {
	&:before {
		display: none;
	}
}

.iso-editor .block-editor-writing-flow {
	font-size: 22px;
	font-family: "NonBreakingSpaceOverride", "Hoefler Text", Garamond, "Times New Roman", serif;
	line-height: 1.8;
	color: #111;
	-webkit-font-smoothing: antialiased;

	h1, h2 {
		&:before {
			display: block;
		}
	}
}


