@import 'base';

h1, h2 {
	&:before {
		display: none;
	}
}

.iso-editor .block-editor-writing-flow {
	font-size: 22px;
	font-family: "NonBreakingSpaceOverride", "Hoefler Text", Garamond, "Times New Roman", serif;
	line-height: 1.5;
	color: #111;
	-webkit-font-smoothing: antialiased;

	h1, h2 {
		&:before {
			display: block;
		}
	}

	input[type="text"] {
		font-family: inherit;
		padding: 0.36rem 0.66rem;
	}

	p {
		line-height: 1.5;
	}
}


