@import 'base';

.editor .iso-editor .block-editor-writing-flow {
	color: var(--wp--preset--color--foreground);
	font-size: var(--wp--preset--font-size--medium);
	line-height: var(--wp--custom--typography--line-height--normal);
}
