@import 'base';

.editor .iso-editor .block-editor-writing-flow {
	color: var(--wp--preset--color--foreground);
	font-size: var(--wp--preset--font-size--medium);
	line-height: var(--wp--custom--typography--line-height--normal);

	.is-root-container .wp-block[data-align="full"] {
		--wp--custom--spacing--outer: calc(-1 * var(--cs--style--block-gap));
	}
}

// This is necessary to fix block alignment on previews
.block-editor-block-preview__content-iframe {
	body > .is-root-container > .wp-block-cover {
		// The theme is using !important on a style definition.
		// To override it we also need !important
		margin-left: auto !important;
		margin-right: auto !important;
	}
}
