@import '~@wordpress/components/build-style/style.css';
@import '~@wordpress/block-editor/build-style/style.css';
@import '~@wordpress/block-library/build-style/style.css';
@import '~@wordpress/block-library/build-style/editor.css';
@import '~@wordpress/block-library/build-style/theme.css';
@import '~@wordpress/format-library/build-style/style.css';

#crowdsignal-dashboard .iso-editor {
	.wp-block {
		max-width: 720px;
	}

	.wp-block[data-align='wide'] {
		max-width: 1080px;
	}

	.wp-block[data-align='full'] {
		max-width: none;
	}
}

.editor {
	flex: 1;
	position: relative;

	.iso-editor {
		--wp-admin-theme-color: var( --color-neutral-80 );
		--wp-admin-theme-color-darker-10: var( --color-neutral-90 );
		--wp-admin-theme-color-darker-20: var( --color-neutral-100 );

		border: 0;
		color: var( --color-text );
		flex: 1;
		max-height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 65px;

		> div:nth-child(2) {
			display: flex;
			flex-direction: column;
			max-height: 100%;

			> div:nth-child(4) {
				overflow-y: scroll;
			}
		}

		.edit-post-visual-editor {
			position: relative;
		}
	}

	.edit-post-header__settings > .components-button {
		margin-right: 12px;

		&:last-child {
			margin-right: 0;
		}

		&.is-crowdsignal {
			--wp-admin-theme-color: var( --color-primary-50 );
			--wp-admin-theme-color-darker-10: var( --color-primary-60 );
			--wp-admin-theme-color-darker-20: var( --color-primary-70 );
		}
	}
}
