@import '~@wordpress/components/build-style/style.css';
@import '~@wordpress/block-editor/build-style/style.css';
@import '~@wordpress/block-library/build-style/style.css';
@import '~@wordpress/block-library/build-style/editor.css';
@import '~@wordpress/block-library/build-style/theme.css';
@import '~@wordpress/format-library/build-style/style.css';
@import '~isolated-block-editor/build-browser/core.css';

#crowdsignal-dashboard .block-editor-block-list__layout.is-root-container {
	.wp-block,
	.block-editor-default-block-appender {
		max-width: 720px;
	}

	.wp-block[data-align='wide'] {
		max-width: 1080px;
	}

	.wp-block[data-align='full'] {
		max-width: none;
	}
}

html.interface-interface-skeleton__html-container {
	width: 100% !important;
}

.editor {
	flex: 1;
	position: relative;
}

.editor .iso-editor {
	--wp-admin-theme-color: var( --color-neutral-80 );
	--wp-admin-theme-color-darker-10: var( --color-neutral-90 );
	--wp-admin-theme-color-darker-20: var( --color-neutral-100 );

	background-color: transparent;
	border: 0;
	color: var( --color-text );
	flex: 1;
	max-height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 65px;

	.edit-post-layout.interface-interface-skeleton {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	}

	.edit-post-visual-editor {
		background-color: transparent;
		position: relative;
	}

	.block-editor-block-list__layout.is-root-container {
		padding-left: 0;
		padding-right: 0;
	}

	.components-panel__header.edit-post-sidebar__panel-tabs ul {
			padding: 0
	}

	.components-panel__body-title {
		.components-panel__body-toggle {
			font-weight: 600;
		}
	}

	// Fix isolated-block-editor's misalignment of list blocks
	ul.block-editor-block-list__block,
	ol.block-editor-block-list__block {
		margin-left: auto;
		margin-right: auto;
	}

	.components-external-link {
		display: flex;
		align-items: center;

		&__text {
			text-overflow: ellipsis;
			max-width: 100%;
			box-sizing: border-box;
			overflow: hidden;
			display: inline-block;
			white-space: nowrap;
		}

		&__icon {
			margin: 0;
		}
	}
}

.iso-sidebar {
	.project-visibility, .project-created-date, .project-updated-date {
		span {
			&:first-child {
				margin-right: 5px;
			}
			&:last-child {
				white-space: nowrap;
			}
		}
	}
}

.edit-post-header__settings > .components-button {
	margin-right: 12px;

	&:last-child {
		margin-right: 0;
	}
}
