@import '../twentytwentytwo/base';

body {
	--wp--preset--color--foreground: #FFF;
	--wp--preset--color--background: #000;
	--wp--custom--input--focus--color: #b4b4b4;
	--wp--custom--input--border--color: #767676;

	--cs--style--answer--selected--color: var(--wp--preset--color--foreground);
	--cs--style--dropdown--padding-top-bottom: 8px;
	--cs--style--color--background: var(--wp--preset--color--background);

}

.crowdsignal-forms-text-input-block, .crowdsignal-forms-text-question-block, .crowdsignal-forms-phone-number-block {
	input, textarea {
		color: var(--wp--preset--color--foreground);
		background-color: transparent;
	}
}

.crowdsignal-forms-question-wrapper {
	border-color: var(--wp--preset--color--foreground);
}

.crowdsignal-forms-button {
	&__button {
		color: var(--wp--preset--color--foreground);
	}
}

.crowdsignal-forms-dropdown-input {
	& &__button.is-style-outline {
		button.crowdsignal-forms-button__button {
			color: var(--wp--preset--color--foreground);
			border: 1px solid var(--wp--custom--input--border--color);
		}
	}

	& &__option {
		color: var(--wp--preset--color--foreground);
	}

	& &__options {
		border-width: 1px;
		border-color: var(--wp--custom--input--border--color);
		color: var(--wp--preset--color--foreground);
	}
}

.crowdsignal-navigation-bar {
	//Adding this hack to increase the selector specificity without using 'important'
	&.crowdsignal-navigation-bar {
		filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.06)) drop-shadow(0 2px 4px rgba(255, 255, 255, 0.1));
	}

	& &__back-button {
		color: var(--wp--preset--color--foreground);
	}
}

.crowdsignal-sticky-footer.crowdsignal-sticky-footer {
	filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.06)) drop-shadow(0 2px 4px rgba(255, 255, 255, 0.1));
}
