.editable-page-header {
	align-items: center;
	display: flex;

	&.is-disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

}

.editable-page-header__form {
	width: 100%;
}

.editable-page-header__input {
	&[type="text"], &[type="text"]:focus {
		background-color: transparent;
		border: 0;
		color: var(--color-text);
		display: inline-flex;
		font-size: 24px;
		font-weight: 700;
		height: 40px;
		line-height: 40px;
		margin: 0;
		outline: 0;
		padding: 0;
		width: 100%;
	}
}

.editable-page-header__button {
	margin-left: 8px;
}
