.crowdsignal-forms-multiple-choice-answer-block {
    .wp-block[data-type="crowdsignal-forms/multiple-choice-question"]:not(.is-selected):not(.has-child-selected) &.is-empty {
        height: 0;
        opacity: 0;
        margin-bottom: -16px;
        margin-top: 0;
    }
}
