@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/mixins";

:root {
	--wp--preset--font-size--normal: 18px;
}

body {
	--wp--preset--color--primary: #ff302c;
	--wp--preset--color--background: #f7f7f6;

	--crowdsignal-forms-input-border-color: #ddd;
	--crowdsignal-forms-input-background-color: #fff;
	--crowdsignal-forms-question-border-color: #eee;
	--crowdsignal-forms-question-background-color: #fff;
	--crowdsignal-forms-submit-button-background-color: #ff302c;
	--color-text: #444;

	--cs--style--color--background: var(--wp--preset--color--background);

	--cs--style--button--border-radius: 9px;
	--cs--style--answer--selected--background: #1285ce;
}

body {
	color: var(--color-text);
}

@include break-small {
	.wp-block-columns {
		.wp-block-column:not(:last-child)  {
			margin-bottom: 0;
		}
	}
}

.wp-block-columns.alignfull {
	padding-left: 0;
	padding-right: 0;
}

.crowdsignal-forms-question-wrapper {
	border-color: var(--crowdsignal-forms-question-border-color);
	background-color: var(--crowdsignal-forms-question-background-color);

	.wp-block-cover & {
		h3:not(.has-text-color) {
			color: var( --color-text );
		}
	}
}

.crowdsignal-forms-submit-button-block .crowdsignal-forms-button__button {
	background-color: var(--crowdsignal-forms-submit-button-background-color);
}

.crowdsignal-forms-text-input-block,
.crowdsignal-forms-text-question-block {
	input, textarea {
		border: 1px solid var(--crowdsignal-forms-input-border-color);
	}
}

.crowdsignal-forms-date-picker-block .react-datepicker-wrapper,
.crowdsignal-forms-time-picker-block .react-datepicker-wrapper{
	input {
		background-color: var(--crowdsignal-forms-input-background-color);
		border: 1px solid var(--crowdsignal-forms-input-border-color);
	}
}

.wp-block-image {
	text-align: unset;
}

.crowdsignal-forms-button.wp-block-button .wp-block-button__link {
	line-height: normal;
}

input[type="text"] {
	padding: 8px;
}
