@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/mixins";

:root {
	--crowdsignal-forms-button-selected-background-color: #1285ce;
	--crowdsignal-forms-input-border-color: #ddd;
	--crowdsignal-forms-question-border-color: #eee;
	--crowdsignal-forms-question-background-color: #fff;
	--crowdsignal-forms-submit-button-background-color: #ff302c;
	--color-text: #444;
	--wp--custom--color--background: #f7f7f6;
}

body {
	color: var(--color-text);
}

@include break-small {
	.wp-block-columns {
		.wp-block-column:not(:last-child)  {
			margin-bottom: 0;
		}
	}
}

.crowdsignal-forms-button {
	&.is-selected & {
		&__button {
			background-color: var(--crowdsignal-forms-button-selected-background-color);
		}
	}

	&.is-style-emoji.is-style-outline &__button,
	&.is-style-emoji.is-style-outline &__button.wp-block-button__link {
		padding: calc( .667em * 0.5 ) calc( 1.333em * 0.25 );
	}
}

.crowdsignal-forms-question-wrapper {
	border-color: var(--crowdsignal-forms-question-border-color);
	background-color: var(--crowdsignal-forms-question-background-color);
}

.crowdsignal-forms-submit-button-block .crowdsignal-forms-button__button {
	background-color: var(--crowdsignal-forms-submit-button-background-color);
}

.crowdsignal-forms-text-input-block input,
.crowdsignal-forms-text-question-block textarea {
	border: 1px solid var(--crowdsignal-forms-input-border-color);
}

.wp-block-image {
	text-align: unset;
}
