@import 'base';

.editor .iso-editor .block-editor-writing-flow {
	font-size: 18px;
	font-weight: normal;
	line-height: 1.78;
}

.wp-block .wp-block-cover {
	margin-top: 0;
	margin-bottom: 0;
}

.wp-block-button.is-style-outline .wp-block-button__link {
	padding: 14px 16px;
}

.wp-block > [data-block] {
	margin-top: 0;
	margin-bottom: 0;
}

.crowdsignal-forms-question-wrapper {
	.crowdsignal-forms-dropdown-input {
		.crowdsignal-forms-button__button {
			--cs--style--button--font-size: 1.2125em;
		}
	}
}
