.crowdsignal-forms-question-wrapper {
	border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--color--primary);
	border-radius: var(--wp--custom--form--border--radius);
	box-shadow: var(--wp--custom--form--color--box-shadow);
}
