@import 'base';

.editor .iso-editor .block-editor-writing-flow {
	font-size: var(--wp--preset--font-size--normal);
	line-height: var(--wp--custom--body--typography--line-height);

	.is-root-container .wp-block[data-align="full"] {
		--wp--custom--gap--horizontal: 0;
	}
}
