@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/mixins";

:root {
	--custom--placeholder--color: #d1c7c7cc;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--custom--placeholder--color);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--custom--placeholder--color);;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--custom--placeholder--color);
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--wp--custom--form--padding: 14px 7px;
	--cs--style--dropdown--padding-top-bottom: 14px;
	--cs--style--color--background: var(--wp--preset--color--background);

	--wp--preset--font-size--normal: 16px;
	--wp--custom--button--spacing--padding--top: 16px;
	--wp--custom--button--spacing--padding--bottom: 16px;
	--wp--custom--button--spacing--padding--left: 16px;
	--wp--custom--button--spacing--padding--right: 16px;
	--wp--custom--button--typography--line-height: 1;

	@include break-mobile {
		--wp--preset--font-size--normal: 20px;
		--wp--custom--button--spacing--padding--top: 0.667em;
		--wp--custom--button--spacing--padding--bottom: 0.667em;
		--wp--custom--button--spacing--padding--left: 1.333em;
		--wp--custom--button--spacing--padding--right: 1.333em;
		--wp--custom--button--typography--line-height: 2;
	}
}

.crowdsignal-forms-question-wrapper {
	color: var(--wp--custom--color--foreground);
	background-color: var(--wp--preset--color--background);
}

.crowdsignal-forms-dropdown-input {
	& &__button.is-style-outline {
		button.crowdsignal-forms-button__button {
			border-width: 2px;

			&:hover, &:focus {
				padding: var(--cs--style--dropdown--padding-top-bottom) 36px var(--cs--style--dropdown--padding-top-bottom) 12px;
				border-width: 2px;
			}
		}
	}

	& &__option {
		&.selected {
			color: var(--wp--custom--color--background);
		}
	}
}

.crowdsignal-navigation-bar {
	& &__back-button {
		color: var(--wp--custom--color--foreground);
	}
}
