:root{
	--custom--placeholder--color: #d1c7c7cc;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--custom--placeholder--color);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--custom--placeholder--color);;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--custom--placeholder--color);
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--wp--custom--form--padding: 14px 7px;
}

.crowdsignal-forms-button {
	&.is-style-emoji.is-style-outline &__button:hover,
	&.is-style-emoji.is-style-outline &__button.wp-block-button__link:hover,
	&.is-style-emoji.is-style-outline &__button,
	&.is-style-emoji.is-style-outline &__button.wp-block-button__link {
		line-height: 2.5em;
		padding: calc( .667em * 0.5 ) calc( 1.333em * 0.5 );
	}

	&.is-style-emoji.is-style-outline.is-selected &__button,
	&.is-style-emoji.is-style-outline.is-selected &__button.wp-block-button__link,
	&.is-style-text.is-style-outline.is-selected &__button,
	&.is-style-text.is-style-outline.is-selected &__button.wp-block-button__link {
		background-color: var(--wp--preset--color--primary);
		border-color: var(--wp--preset--color--primary);
		color: var(--wp--preset--color--background);
	}
}
