@import '~@wordpress/block-library/build-style/style.css';

.wp-block-columns {
	margin-bottom: 24px;
}

.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:first-child) {
	margin-left: 18px;
}

.crowdsignal-forms-text-input-block {
	margin-bottom: 24px;
}
