.project-navigation {
	align-items: center;
	background-color: var(--color-surface);
	border-bottom: 1px solid var(--color-border);
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	padding: 0 32px;
	width: 100%;

	.tab-navigation {
		border-bottom: 0;
	}
}
